<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/display_elements.js"></script>

    <script type="text/javascript" src="/javascripts/event_controller.js"></script>
    <script type="text/javascript" src="/javascripts/events_parser.js"></script>
    <script type="text/javascript" src="/javascripts/requests.js"></script>
    <script type="text/javascript" src="/javascripts/pages/IndexView.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"></link>

</head>

<script>

    $(function(){
    let sectors_names= <%- JSON.stringify(sectors_dictionary)%>;
    let header_mapping=  <%- JSON.stringify(header_mapping)%>;
    let featured =  <%-JSON.stringify(featured)%>;
    document.cookie = JSON.stringify( header_mapping);
    let stocks = <%-JSON.stringify( stocks)%>;
    $aR = [header_mapping,sectors_names,featured];

        let indexView = new IndexView(featured,sectors_names,header_mapping,stocks)
        indexView.init_bla();


})

</script>

<body>

    <h1 style="margin-bottom:10px;"><%= title %></h1>
    <div class="featured_stock">

        <table   class ='table_heads_stocks'>
            <h2 id="gotostoc">Featured stock of the day: <%=featured.name%></h2>

        </table>

    </div>

    <div>
        <button id='main_stocks' class='button' type="submit" method="GET">Go to main stocks page</button>

        <button id='main_sectors' class='button' type="submit">Go to main sectors page</button>





    </div>
    <div >


        <table class="stocks_table" style="background-color:beige;padding:10px;">
            <h2 style="margin-left:10%">Top 10 Stocks</h2>



            <select id="sort_by"  class ='select_css'>
                <option value="none" selected disabled hidden>Sort By</option>


            </select>

            <thead >
                <tr >

                    <th class ='table_heads'>Name</th>
                    <th class ='table_heads' >Symbol</th>
                    <th class ='table_heads' >Sector</th>
                </tr>
            </thead>

            <tbody class ="stock_table_body">

            </tbody>


        </table>

        <span >
            <button id='search_btn' class='button'  searchType='name'  type="submit">Search Stock By Name</button>
            <br>
                <input  id='search_input' type="text" placeholder="name" class="input_field"  name="name">

                    <span id="not_found" style="visibility:hidden" >Not Found</span>

        </span>

        <div id="sectors_list">

        </div>
        <iframe src="https://datahub.io/core/s-and-p-500/view/0" width="100%" height="475px" frameborder="0"></iframe>

    </div>










</body>
</html>