<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

        <title>Sector Page:  <%= sector%> </title>
</head>
<body>


<h1> Sector Page - <%= sector%> </h1>

    <table   class ='table_heads_sector_data'>
        <h2>Sector: <%= sector.name%> - Info Page</h2>





        <thead >
            <tr >

                <th class ='table_heads_sector_data'>Property</th>
                <th  class ='table_heads_sector_data'  >Data</th>
            </tr>
        </thead>




        <tbody >

            <%  Object.keys(sectorData).forEach(function (key) { %>
            <tr >
                <td   class ='table_heads_sector_data'><%=key%></th>
                <td  class ='table_heads_sector_data' ><%= sectorData[key] %></td>
            </tr>
            <% }) %>


        </tbody>


    </table>
    <input id="sector_description"  type="text" placeholder="value" name="sector_description">
        <button id="add_sector_description" >Update Sector Description</button>

        <input id="remove_stock"  type="text" placeholder="value" name="remove_stock_name">
            <button id="remove_stock_btn" >Remove Stock</button>
            <br>
            <input id="add_stock"  type="text" placeholder="value" name="add_stock_name">
                <button id="add_stock_btn" >Add Stock</button>
                <br>
                <input id="sector_description"  type="text" placeholder="value" name="sector_description">
                    <button id="add_sector_description" >Update Sector Description</button>
                    <br>


                    <span style='padding-right:10%;'> <a href ='/sectors' > Go to main sectors page</a></span>


                        <span> <a href ='/' > Go to main  page </a></span>

                <%if (stocks_by_sector != null) { %>



                        <table class="stocks_table" style="background-color:beige;padding:10px;">
                            <h2>Top 10 Stocks</h2>

                            <p> Sort Stocks:</p>
                            <select id="select_filter">
                                <option value="o_name_filter">Name</option>
                                <option value="o_expensive_filter">Most Expensive</option>
                                <option value="o_cheap_filter">Most Cheap</option>
                                <option value="o_market_cap_high">Market Cap - High</option>
                                <option value="o_market_cap_low">Market Cap - LOW</option>




                            </select>

                            <thead >
                                <tr >

                                    <th class ='table_heads'>Name</th>
                                    <th class ='table_heads' >Symbol</th>
                                    <th class ='table_heads' >Sector</th>
                                </tr>
                            </thead>

                            <tbody class ="stock_table_body ">


                                <% for(var i=0; i < stocks_by_sector.length && i<5; i++) {%>
                                <tr class="rows_stocks">
                                    <td ><a href ='/stocks/<%= stocks_by_sector[i].Name %>' ><%= stocks_by_sector[i].Name %></a></td>
                                    <td><a href ='/stocks/<%= stocks_by_sector[i].Name %>' ><%= stocks_by_sector[i].Symbol %></a></td>
                                    <td><a href ='/sectors/<%= stocks_by_sector[i].Sector %>' ><%= stocks_by_sector[i].Sector %></a></td>
                                </tr>
                                <% } %>
                            </tbody>


                        </table>

                        <span >
                            <button id='search_btn' class='button' type="submit">Search Stock By Name</button>
                            <br>

                                <input  id='search_input' type="text" placeholder="name" name="name">

                                    <span id="not_found" >Not Found</span>

                        </span>

    <% } %>





</body>
</html>