<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/requests.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

        <title>MY APP</title>
</head>
<body>
    <script>

        function init_update_stock() {
            let stock_name = '<%-stock.Name%>' ;
            let value = $("#update_stock_value")[0].value
            let field_name = $("#select_filter")[0].value
            console.log('init_update_stock',stock_name,field_name,value);
            update_stock_request(stock_name,field_name,value);

    }

        $(document).ready(function(){

        // jQuery methods go here...
        $("#update_stock_btn")[0].onclick = function() { init_update_stock();};


    });


        <!--var sectors = <%-JSON.stringify(stock)%>;-->
        <!--console.log(sectors);-->


        </script>

    <table   class ='table_heads_stocks'>
        <h2>Stock <%=stock.Name%></h2>





        <thead >
            <tr >

                <th class ='table_heads_stocks'>Property</th>
                <th  class ='table_heads_stocks'  >Value</th>
            </tr>
        </thead>




        <tbody >

            <%  Object.keys(stock).forEach(function (key) { %>
            <tr >
                <td   class ='table_heads_stocks'><%=key%></th>
                <td  class ='table_heads_stocks' ><%= stock[key] %></td>
            </tr>
            <% }) %>


        </tbody>


    </table>
<!--<%if (stock != null) { %>-->
<!--    <span>ZZZ<%-JSON.stringify(stock)%></span>-->
<!--    <%  Object.keys(stock).forEach(function (key) { %>-->
<!--        <li>the key is: <%= key %></li>-->
<!--        <li>the value is is: <%= stock[key] %></li>-->

<!--    <% }) %>-->
<!--    <%=stock %>-->
<!--    <ul class="stock">-->
<!--        <span> Name: <%= stock.Name %></span></a>-->
<!--        <span>Symbol: <%= stock.Symbol %></span>-->
<!--        <span>Sector: <%= stock.Sector %></span>-->
<!--    </ul>-->
<!--<% }else  { %>-->


<!--<span> incalid or missing stock name %> click <a href ='/'> Back</a> to return </span>-->
<!--<% } %>-->


    <span >
        <header   style="width:50%;text-align:center;"  >
            <h2>Update Stock </h2>
        </header>
   <section>

       <select id="select_filter"   >

           <%  Object.keys(stock).forEach(function (key) { %>
           <option value="<%=key%>"><%=key%></option>

           <% }) %>

       </select>

       <input id="update_stock_value"  type="text" placeholder="value" name="sector">
           <button id="update_stock_btn" >Update Stock Stock</button>


   </section>


    </span>

<div style="padding:10%;">

    <span style="padding-right: 40px;"> <a href ='/stocks' > Go to main stocks page</a></span>

    <span> <a href ='/' > Go to main  page </a></span>
</div>
</body>
</html>
